.footer {
  background: #143463;
  height: 30px;
  border-radius: 12px 12px 0 0;  /* üst köşeler yuvarlak */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  z-index: 1001; /* menüye göre önde */
}
